@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fcf4e7;
}

.header {
  position: relative; 
  width: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  background: #ffffff;
  padding: 0.25px;
  transition: 0.30 s;
}

.logo a{
  display: block;
}

.logo a img{
  display: block;
  width: 100%;
}

.navigation {
  display: flex;
  justify-content:space-between;
  align-items: center;
  border: #000;
}

.menu {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  z-index: 1;
  transition: 0.5s;
}

.menu li {
  list-style-type: none;
}

.menu li a{
  color:#000;
  text-decoration: none;
  display: block;
  padding: 40px 25px;
  font-size: 18px;
  line-height: 1;
  transition: 0.3s;
}

.menu li a:hover{
  box-shadow: 0 -5px 0px #000 inset, 
  500px 0 0 rgba(255,255,255,0.03)inset;
  padding: 35px 25px 45px 25px;
}

.hamburger {
  position:relative;
  width: 30px;
  height: 4px;
  background: #000;
  border-radius: 10px;
  cursor: pointer;
  z-index: 2;
  transition: 0.3s;
}

.hamburger:before, 
.hamburger:after{
  content:"";
  position: absolute;
  height: 4px;
  right: 0;
  background: #000;
  border-radius: 10 px;
  transition: 0.3s;
}

.hamburger:before {
  top: -10px;  
  width: 20px;
}

.hamburger:after {
  top: 10px; 
  width: 25px; 
}

.toggle-menu{
  position: absolute;
  width: 30px;
  height: 100%;
  z-index: 3;
  cursor: pointer;
  opacity: 0;
  
}

.hamburger, 
.toggle-menu {
  /* display: none; */
}

.navigation input:checked ~ .hamburger {
  background: transparent;
}

.navigation input:checked ~ .hamburger:before {
  top: 0;
  transform: rotate(-45deg);
  width: 30px;
}

.navigation input:checked ~ .hamburger:after {
  top: 0;
  transform: rotate(45deg);
  width: 30px;
}
.navigation input:checked ~ .menu {
  right: 0;
  box-shadow: -20px 0 40px rgba(0,0,0,0.3);
}

@media screen and (max-width: 992px) {
  .hamburger, 
  .toggle-menu {
    display: block;
  }

  .header {
    padding: 10px 20px;
  }
  .menu {
    justify-content: start;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: -300px;
    background: #000000;
    width: 300px;
    height: 100%;
    padding-top: 65px;
  }
  .menu li {
    width: 100%;
  }
  .menu li a,
  .menu li a:hover {
    padding: 30px;
    font-size: 24px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1)
    inset;
  }
}

.content{
  width: 100%;
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin-top: 20px;

}

.content .content8x{
  max-width: 500px;
  padding-left: 6%;
}

.content .content8x h1{
  font-size: 1000%;
  color: #000;
  line-height: 85%;
  margin-bottom: 30px;
}

.content .content8x p{
  font-size: 150%;
  color: #000;
  margin: 30px 10px;
}

.content .content8x .btn{
  background:#94b973;
  color: #fff;
  text-decoration: none;
  padding: 8px 8px 8px 8px;
  font-weight: 500;
  margin: 30px 10px;
  transition: 0.5s;
}

.content .content8x .btn .hover{
  box-shadow: 0 -5px 0px #fff inset, 
  500px 0 0 rgba(255,255,255,0.03)inset;
  padding: 45px 25px 45px 25px;
  cursor: pointer;
  opacity: 0;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.latte-container {
  /*border: 5px solid black;*/
  text-align: end;
  justify-content: end;
  padding-right: 5%;
}

.transition {
  width: 100%;
}